[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.7"

[packages]
graphene = "*"
Django = "*"
graphene-django = "*"
django-cors-headers = "*"
django-rest-framework = "*"

[dev-packages]
pylint = "*"
pylint-django = "*"
ipdb = "*"
mypy = "*"
django-stubs = "*"
factory-boy = "*"
